body {
  font-family: 'Playfair Display', serif;
}

.square{
  width:6em;
  height:6em;
}

.v{
  border-left:1px solid #000;
  border-right:1px solid #000;
}

.h{
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

td {
  text-align: center;
}

.header-img {
  width: 3em;
  height: 3em;
}

#score-column {
  margin-top: 10em;
  padding: 1.5em;
}

.hand {
  height: 2em;
}

.pumpkin {
  height: 2em;
}
