body {
  font-family: 'Playfair Display', serif;
}

.square{
  width:100px;
  height:100px;
}

.v{
  border-left:1px solid #000;
  border-right:1px solid #000;
}

.h{
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

td {
  text-align: center;
}

.header-img {
  width: 3em;
  height: 3em;
}
